* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.gallery {
  display: flex;
  gap: 0;
  /* margin: 40px; */
}

.gallery-left {
  display: grid;
  grid-template-rows: repeat(4, 1fr); 
  grid-template-columns: repeat(3, 1fr);
  gap: 14px 23px;
  border-right: 1px solid black;
  padding-right: 13px;
}

.gallery-right {
  display: grid;
  grid-template-rows: repeat(4, 1fr); 
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 0 13px;
}

.slogan-1, .slogan-2 {
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 20px;
    display: flex;
    align-items: center;
    padding-left: 120px;
}

.slogan-1 { grid-area: 1 / 1 / 2 / 4; }

.slogan-2 { grid-area: 2 / 1 / 3 / 3; }

.item {
    max-width: 300px;
    max-height: 200px;
    overflow: hidden;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumb-job { grid-area: 4 / 1 / 5 / 2; }
.thumb-anthurium { grid-area: 3 / 2 / 4 / 3; }
.thumb-leaves { grid-area: 2 / 3 / 3 / 4; }
.thumb-lamp { grid-area: 4 / 3 / 5 / 4; }
.thumb-coffee { grid-area: 1 / 1 / 2 / 2; }
.thumb-flowers { grid-area: 3 / 1 / 4 / 2; }
.thumb-anthuriums { grid-area: 2 / 2 / 3 / 3; }
.thumb-eucalyptus { grid-area: 4 / 2 / 5 / 3; }