* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.gallery {
    /* display: grid; */
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

/* .left-gallery {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #f0f0f0;
    width: 100px;
    height: 400px;
}

.right-gallery {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    background-color: #f0f0f0;
    width: 100px;
    height: 400px;
} */

/* .title {
    text-align: left;
    margin-bottom: 69px;
    font-size: 50px;
} */

.gallery-left {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    gap: 14px 23px;
    display: inline-block;
}

.gallery-right {
    display: grid inline-block;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    gap: 20px;
}

.slogan {
    text-align: left;
    margin-bottom: 69px;
    font-size: 50px;
    font-weight: 200;
    letter-spacing: 5px;
    color: black;
}

.item {
    list-style-type: none;
    max-width: 300px;
    max-height: 200px;
    overflow: hidden;
    align-items: center;
    border: none;
}

.thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}