* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.gallery {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.title {
    text-align: left;
    margin-bottom: 69px;
    font-size: 50px;
    font-weight: 200;
    letter-spacing: 5px;
    color: black;
}

.gallery-grid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    gap: 23px;
}

.item {
    list-style-type: none;
    max-width: 300px;
    max-height: 200px;
    overflow: hidden;
    align-items: center;
    border: none;
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.3);
}

.item-sunflower {
    grid-column: 4;
}

.item-flowers {
    grid-column: 2;
    grid-row: 2;
}

.item-office {
    grid-column: 3;
    grid-row: 2;
}

.thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}