* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.gallery {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.title {
    text-align: left;
    margin-bottom: 69px;
    font-size: 50px;
}

.gallery-grid {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(3, 200px);
    gap: 23px;
}

.item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-coffee {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.item-flowers {
    grid-column: 2;
    grid-row: 2 / span 2;
}

.item-eucalyptus {
    grid-column: 3 / span 2;
    grid-row: 2;
}

.thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}